*
{
    margin: 0;
    padding: 0;
}

.button
{
    -fx-font-family: "Courier New", monospace;
    -fx-font-size: 20px;
    -fx-background-position: center;
    -fx-background-radius: 10px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
}

.box
{
    -fx-padding: 10;
}

.text
{
    -fx-font-family: "Courier New", monospace;
}
