*
{
    margin: 0;
    padding: 0;
}

.button
{
    -fx-font-family: "Courier New", monospace;
    -fx-font-size: 20px;
    -fx-background-position: center;
    -fx-background-radius: 10px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
}

.box
{
    -fx-padding: 10;
}

.text
{
    -fx-font-family: "Courier New", monospace;
}

.info-box
{
    -fx-background-color: #c0c0c0;
    -fx-border-color: #ffffff #808080 #808080 #ffffff;
    -fx-border-width: 2px;
    -fx-padding: 5px;
    -fx-spacing: 10px;
}

.info-label
{
    -fx-font-family: "Courier New", monospace;
    -fx-font-size: 20px;
    -fx-text-fill: red;
    -fx-background-color: black;
    -fx-padding: 2px;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-min-width: 45px;
    -fx-alignment: center-right;
}