.root-container
{
    -fx-background-color: linear-gradient(to bottom, #ffffff, #e6e6e6);
    -fx-spacing: 20px;
    -fx-padding: 30px;
    -fx-alignment: center;
    -fx-border-radius: 10px;
}

.button
{
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
    -fx-background-color: linear-gradient(to bottom, #ffffff, #cccccc);
    -fx-border-color: #b3b3b3;
    -fx-border-width: 1px;
    -fx-padding: 10px 15px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 2, 2);
}

.button:hover
{
    -fx-background-color: linear-gradient(to bottom, #f2f2f2, #d9d9d9);
}

.button:pressed
{
    -fx-background-color: #bfbfbf;
    -fx-effect: none;
}

.mute-button
{
    -fx-font-size: 16px;
    -fx-padding: 8px 12px;
    -fx-min-width: 120px;
}

.mute-button:pressed, .mute-button.selected
{
    -fx-background-color: #bfbfbf;
    -fx-border-color: #999999;
}

.style-button
{
    -fx-font-size: 16px;
    -fx-padding: 8px 12px;
    -fx-min-width: 150px;
    -fx-background-color: linear-gradient(to bottom, #ffffff, #cccccc);
    -fx-border-color: #b3b3b3;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.style-button:hover
{
    -fx-background-color: linear-gradient(to bottom, #f2f2f2, #d9d9d9);
}

.reset-button
{
    -fx-font-size: 16px;
    -fx-min-width: 150px;
    -fx-max-width: 200px;
    -fx-pref-width: 180px;
    -fx-background-color: linear-gradient(to bottom, #ffffff, #e6e6e6);
    -fx-border-color: #b3b3b3;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.reset-button:hover
{
    -fx-background-color: linear-gradient(to bottom, #f9f9f9, #d9d9d9);
}

#titleText
{
    -fx-font-size: 36px;
    -fx-text-fill: #333333;
    -fx-padding: 10px;
    -fx-border-color: transparent;
    -fx-alignment: center;
}

#choiceText
{
    -fx-font-size: 20px;
    -fx-text-fill: #666666;
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-border-color: transparent;
    -fx-alignment: center;
}

#difficulty-button-box
{
    -fx-background-color: #f9f9f9;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-padding: 15px;
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-border-radius: 10px;
}
